{% extends "layout.html" %}
{% block title %}Reception - Hotel Management System{% endblock %}
{% block content %}

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="material-icons"
                            style="font-size: 48px;transform: rotate(14deg);">hotel</i></div>
                    <div class="sidebar-brand-text mx-3"><span>HMS</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="{{url_for('Index')}}"><i
                                class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="{{url_for('Reception')}}"><i
                                class="fas fa-hotel"></i><span>Reception</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('Stock')}}"><i
                                class="fas fa-table"></i><span>Stock</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('Profile')}}"><i
                                class="fas fa-user"></i><span>Profile</span></a>
                    </li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text"
                                    placeholder="Search for ..."><button class="btn btn-primary py-0" type="button"><i
                                        class="fas fa-search"></i></button></div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link"
                                    aria-expanded="false" data-bs-toggle="dropdown" href="#"><i
                                        class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in"
                                    aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small"
                                                type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0"
                                                    type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        aria-expanded="false" data-bs-toggle="dropdown" href="#"><span
                                            class="badge bg-danger badge-counter">3+</span><i
                                            class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a
                                            class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-primary icon-circle"><i
                                                        class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-success icon-circle"><i
                                                        class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>$290.29 has been deposited into your account!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-warning icon-circle"><i
                                                        class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Spending Alert: We've noticed unusually high spending for your
                                                    account.</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All
                                            Alerts</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        aria-expanded="false" data-bs-toggle="dropdown" href="#"><span
                                            class="badge bg-danger badge-counter">7</span><i
                                            class="fas fa-envelope fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a
                                            class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                    src="assets/img/avatars/avatar4.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Hi there! I am wondering if you can
                                                        help me with a problem I've been having.</span></div>
                                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                    src="assets/img/avatars/avatar2.jpeg">
                                                <div class="status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>I have the photos that you ordered last
                                                        month!</span></div>
                                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                    src="assets/img/avatars/avatar3.jpeg">
                                                <div class="bg-warning status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Last month's report looks great, I am
                                                        very happy with the progress so far, keep up the good
                                                        work!</span></div>
                                                <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                    src="assets/img/avatars/avatar5.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Am I a good boy? The reason I ask is
                                                        because someone told me that people say this to all dogs, even
                                                        if they aren't good...</span></div>
                                                <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All
                                            Alerts</a>
                                    </div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end"
                                    aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        aria-expanded="false" data-bs-toggle="dropdown" href="#"><span
                                            class="d-none d-lg-inline me-2 text-gray-600 small">Valerie Luna</span><img
                                            class="border rounded-circle img-profile"
                                            src="assets/img/avatars/avatar1.jpeg"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item" href="#"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a
                                            class="dropdown-item" href="#"><i
                                                class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a><a
                                            class="dropdown-item" href="#"><i
                                                class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Activity
                                            log</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i
                                                class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container">
                    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 px-5 pb-4">
                        <div class="col-xl-2 me-3">
                            <div>
                                <h4><strong>101</strong></h4>
                                <h6><strong>{{guest[0]}}</strong></h6>
                                <div class="dropdown no-arrow mt-2 border-0"><button
                                        class="btn btn-primary dropdown-toggle border-0" aria-expanded="false"
                                        data-bs-toggle="dropdown" type="button" style="background: white;"><img
                                            class="rounded img-fluid" src="static/img/bed.png"
                                            style="background: {{color[0]}};" /></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item" href="registration?status=101_checkin"><i
                                                class="far fa-check-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            In</a><a class="dropdown-item" href="registration?status=101_checkout"><i
                                                class="far fa-times-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            Out</a><a class="dropdown-item" href="registration?status=101_info"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i> Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 me-3">
                            <div>
                                <h4><strong>201</strong></h4>
                                <h6><strong>{{guest[1]}}</strong></h6>
                                <div class="dropdown no-arrow mt-2 border-0"><button
                                        class="btn btn-primary dropdown-toggle border-0" aria-expanded="false"
                                        data-bs-toggle="dropdown" type="button" style="background: white;"><img
                                            class="rounded img-fluid" src="static/img/bed.png"
                                            style="background: {{color[1]}};" style="background: #1cc88a;" /></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item" href="registration?status=201_checkin"><i
                                                class="far fa-check-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            In</a><a class="dropdown-item" href="registration?status=201_checkout"><i
                                                class="far fa-times-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            Out</a><a class="dropdown-item" href="registration?status=201_info"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i> Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 me-3">
                            <div>
                                <h4><strong>301</strong></h4>
                                <h6><strong>{{guest[2]}}</strong></h6>
                                <div class="dropdown no-arrow mt-2 border-0"><button
                                        class="btn btn-primary dropdown-toggle border-0" aria-expanded="false"
                                        data-bs-toggle="dropdown" type="button" style="background: white;"><img
                                            class="rounded img-fluid" src="static/img/bed.png"
                                            style="background: {{color[2]}};" /></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item" href="registration?status=301_checkin"><i
                                                class="far fa-check-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            In</a><a class="dropdown-item" href="registration?status=301_checkout"><i
                                                class="far fa-times-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            Out</a><a class="dropdown-item" href="registration?status=301_info"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i> Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 me-3">
                            <div>
                                <h4><strong>401</strong></h4>
                                <h6><strong>{{guest[3]}}</strong></h6>
                                <div class="dropdown no-arrow mt-2 border-0"><button
                                        class="btn btn-primary dropdown-toggle border-0" aria-expanded="false"
                                        data-bs-toggle="dropdown" type="button" style="background: white;"><img
                                            class="rounded img-fluid" src="static/img/bed.png"
                                            style="background: {{color[3]}};" /></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item" href="registration?status=401_checkin"><i
                                                class="far fa-check-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            In</a><a class="dropdown-item" href="registration?status=401_checkout"><i
                                                class="far fa-times-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            Out</a><a class="dropdown-item" href="registration?status=401_info"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i> Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 me-3">
                            <div>
                                <h4><strong>501</strong></h4>
                                <h6><strong>{{guest[4]}}</strong></h6>
                                <div class="dropdown no-arrow mt-2 border-0"><button
                                        class="btn btn-primary dropdown-toggle border-0" aria-expanded="false"
                                        data-bs-toggle="dropdown" type="button" style="background: white;"><img
                                            class="rounded img-fluid" src="static/img/bed.png"
                                            style="background: {{color[4]}};" /></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item" href="registration?status=501_checkin"><i
                                                class="far fa-check-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            In</a><a class="dropdown-item" href="registration?status=501_checkout"><i
                                                class="far fa-times-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            Out</a><a class="dropdown-item" href="registration?status=501_info"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i> Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row px-5 pb-4">
                        <div class="col-xl-2 me-3">
                            <div>
                                <h4><strong>102</strong></h4>
                                <h6><strong>{{guest[5]}}</strong></h6>
                                <div class="dropdown no-arrow mt-2 border-0"><button
                                        class="btn btn-primary dropdown-toggle border-0" aria-expanded="false"
                                        data-bs-toggle="dropdown" type="button" style="background: white;"><img
                                            class="rounded img-fluid" src="static/img/bed.png"
                                            style="background: {{color[5]}};" /></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item" href="registration?status=102_checkin"><i
                                                class="far fa-check-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            In</a><a class="dropdown-item" href="registration?status=102_checkout"><i
                                                class="far fa-times-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            Out</a><a class="dropdown-item" href="registration?status=102_info"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i> Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 me-3">
                            <div>
                                <h4><strong>202</strong></h4>
                                <h6><strong>{{guest[6]}}</strong></h6>
                                <div class="dropdown no-arrow mt-2 border-0"><button
                                        class="btn btn-primary dropdown-toggle border-0" aria-expanded="false"
                                        data-bs-toggle="dropdown" type="button" style="background: white;"><img
                                            class="rounded img-fluid" src="static/img/bed.png"
                                            style="background: {{color[6]}};" /></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item" href="registration?status=202_checkin"><i
                                                class="far fa-check-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            In</a><a class="dropdown-item" href="registration?status=202_checkout"><i
                                                class="far fa-times-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            Out</a><a class="dropdown-item" href="registration?status=202_info"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i> Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 me-3">
                            <div>
                                <h4><strong>302</strong></h4>
                                <h6><strong>{{guest[7]}}</strong></h6>
                                <div class="dropdown no-arrow mt-2 border-0"><button
                                        class="btn btn-primary dropdown-toggle border-0" aria-expanded="false"
                                        data-bs-toggle="dropdown" type="button" style="background: white;"><img
                                            class="rounded img-fluid" src="static/img/bed.png"
                                            style="background: {{color[7]}};" /></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item" href="registration?status=302_checkin"><i
                                                class="far fa-check-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            In</a><a class="dropdown-item" href="registration?status=302_checkout"><i
                                                class="far fa-times-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            Out</a><a class="dropdown-item" href="registration?status=302_info"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i> Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 me-3">
                            <div>
                                <h4><strong>402</strong></h4>
                                <h6><strong>{{guest[8]}}</strong></h6>
                                <div class="dropdown no-arrow mt-2 border-0"><button
                                        class="btn btn-primary dropdown-toggle border-0" aria-expanded="false"
                                        data-bs-toggle="dropdown" type="button" style="background: white;"><img
                                            class="rounded img-fluid" src="static/img/bed.png"
                                            style="background: {{color[8]}};" /></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item" href="registration?status=402_checkin"><i
                                                class="far fa-check-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            In</a><a class="dropdown-item" href="registration?status=402_checkout"><i
                                                class="far fa-times-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            Out</a><a class="dropdown-item" href="registration?status=402_info"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i> Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 me-3">
                            <div>
                                <h4><strong>502</strong></h4>
                                <h6><strong>{{guest[9]}}</strong></h6>
                                <div class="dropdown no-arrow mt-2 border-0"><button
                                        class="btn btn-primary dropdown-toggle border-0" aria-expanded="false"
                                        data-bs-toggle="dropdown" type="button" style="background: white;"><img
                                            class="rounded img-fluid" src="static/img/bed.png"
                                            style="background: {{color[9]}};" /></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item" href="registration?status=502_checkin"><i
                                                class="far fa-check-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            In</a><a class="dropdown-item" href="registration?status=502_checkout"><i
                                                class="far fa-times-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            Out</a><a class="dropdown-item" href="registration?status=502_info"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i> Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row px-5 pb-4">
                        <div class="col-xl-2 me-3">
                            <div>
                                <h4><strong>103</strong></h4>
                                <h6><strong>{{guest[10]}}</strong></h6>
                                <div class="dropdown no-arrow mt-2 border-0"><button
                                        class="btn btn-primary dropdown-toggle border-0" aria-expanded="false"
                                        data-bs-toggle="dropdown" type="button" style="background: white;"><img
                                            class="rounded img-fluid" src="static/img/bed.png"
                                            style="background: {{color[10]}};" /></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item" href="registration?status=103_checkin"><i
                                                class="far fa-check-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            In</a><a class="dropdown-item" href="registration?status=103_checkout"><i
                                                class="far fa-times-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            Out</a><a class="dropdown-item" href="registration?status=103_info"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i> Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 me-3">
                            <div>
                                <h4><strong>203</strong></h4>
                                <h6><strong>{{guest[11]}}</strong></h6>
                                <div class="dropdown no-arrow mt-2 border-0"><button
                                        class="btn btn-primary dropdown-toggle border-0" aria-expanded="false"
                                        data-bs-toggle="dropdown" type="button" style="background: white;"><img
                                            class="rounded img-fluid" src="static/img/bed.png"
                                            style="background: {{color[11]}};" /></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item" href="registration?status=203_checkin"><i
                                                class="far fa-check-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            In</a><a class="dropdown-item" href="registration?status=203_checkout"><i
                                                class="far fa-times-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            Out</a><a class="dropdown-item" href="registration?status=203_info"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i> Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 me-3">
                            <div>
                                <h4><strong>303</strong></h4>
                                <h6><strong>{{guest[12]}}</strong></h6>
                                <div class="dropdown no-arrow mt-2 border-0"><button
                                        class="btn btn-primary dropdown-toggle border-0" aria-expanded="false"
                                        data-bs-toggle="dropdown" type="button" style="background: white;"><img
                                            class="rounded img-fluid" src="static/img/bed.png"
                                            style="background: {{color[12]}};" /></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item" href="registration?status=303_checkin"><i
                                                class="far fa-check-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            In</a><a class="dropdown-item" href="registration?status=303_checkout"><i
                                                class="far fa-times-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            Out</a><a class="dropdown-item" href="registration?status=303_info"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i> Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 me-3">
                            <div>
                                <h4><strong>403</strong></h4>
                                <h6><strong>{{guest[13]}}</strong></h6>
                                <div class="dropdown no-arrow mt-2 border-0"><button
                                        class="btn btn-primary dropdown-toggle border-0" aria-expanded="false"
                                        data-bs-toggle="dropdown" type="button" style="background: white;"><img
                                            class="rounded img-fluid" src="static/img/bed.png"
                                            style="background: {{color[13]}};" /></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item" href="registration?status=403_checkin"><i
                                                class="far fa-check-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            In</a><a class="dropdown-item" href="registration?status=403_checkout"><i
                                                class="far fa-times-circle fa-sm fa-fw me-2 text-gray-400"></i> Check
                                            Out</a><a class="dropdown-item" href="registration?status=403_info"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i> Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Hotel Management System 2023</span>
                    </div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    {% endblock %}